<div id="launchAbout" data-toggle="modal" data-target="#aboutModal">
</div>
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutLongTitle">About Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <p>‘Hornbill Homestay’ a wonderful Holiday experience which is homely, closer to the nature yet not too far from
                your workplace. Endless acres of forest on Goa-Karnataka border, at a place called ‘Castle-Rock’ which is
                2,040 ft above the sea level. </p>
              <p>Climate: The climate of this place stays pleasant through out the year. The summers are not very hot and winters
                stay soothing and hospitable. Winter is quite chilly and temperature drops to 6 to 7 degrees. It receives
                second highest rainfall in the country.</p>
            </li>
          </ol>
        </nav>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>