<div id="launchAccomodation" data-toggle="modal" data-target="#accomodationModal">
</div>
<div class="modal fade" id="accomodationModal" tabindex="-1" role="dialog" aria-labelledby="accomodationTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accomodationLongTitle">Accomodation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <p>We offer package of 1800/- per person on per day basis which includes breakfast, Veg lunch, Snacks, and Non-veg
                Dinner. Special Dishes are also served at additional cost as per the requirement of the guest. Food is served
                in artistically constructed Gol Ghar made up of wood.</p>
              <p>Located in the green thick forest the luxury cottages are a real work of art with a pyramidal thatched roof
                built in wooden logs, furnished in cane and bamboo, wood and fabrics, the cottages are equipped with all
                modern amenities.</p>
              <p>The accommodation is designed keeping in mind the requirement of a nature lover. Wake up to the chirping of
                birds and the forest breeze, which provide a sense of tranquility &amp; solace.</p>
            </li>
          </ol>
        </nav>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>