<div id="launchContact" data-toggle="modal" data-target="#contactModal">
</div>
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLongTitle">Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <div class="card">
                <div class="card-body">
                  <div class="card-footer">
                    <section>
<pre>
  <b>Address :</b> Hornbill Homestay Sowsarwada Ivoli,
  <b>Post:</b> Castlerock
  <b>Taluka:</b> Joida,
  <b>District:</b> Karwar.
  <b>Pincode:</b> 581121
</pre>
                    </section>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="card-footer">
                    <section>
<pre>
  <b>Owner Address:</b> Mr. Rajesh Sitaram Sawant Sowsarwada, Ivoli,
  <b>Post:</b> Castlerock,
  <b>Taluka:</b> Joida,
  <b>District:</b> Karwar.
  <b>Pincode:</b> 581121
  <b>Phone:</b> 9611973882/9740989096
  <b>Email:</b> rajeshsawant3969@gmail.com/hornbillhomestayforu@gmail.com.
</pre>
                    </section>
                  </div>
                </div>
              </div>
            </li>
          </ol>
        </nav>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>