<div id="thrilling-activities-main" class="container">
  <h1>Photo Gallery</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/hornbill-gallary.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/leopard-galary.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/forest-gallery.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/giant-squirrel-gallary.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_175116.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_175200.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-20-00_1.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_174650.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_174708.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_174749.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_175417.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-19-53.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-19-53_1.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-19-54.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-19-56.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-19-59.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/PHOTO-2018-11-07-20-20-00.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/IMG_20180921_174918.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/image1.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/b79532b7-5119-4145-8436-6bc46e24601d.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/c501f599-a0f3-40a9-8ed1-e6fef2e63eb7.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/7216a9e4-ce7e-420c-be61-e8de140c7e87.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/image2.jpg" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/image3.jpg" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/aed6c047-545d-4940-98ce-37348cf2b1cb.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/d59a5eed-dd98-4773-b0b0-9ab923f76773.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/bd1e7fc9-776a-475d-a4c7-6817bfc60f6c.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/da533891-5e71-4f64-b914-095796ab28ae.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/7ead0172-5a49-4a83-9879-1c4f814fdd39.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/876e10ba-93d1-42fa-a9c2-704f06e2e288.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/02a015ae-77cc-4a76-9bda-b4f65a44e545.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/396b09d6-ead4-4b88-b1a2-0b9dd5324bce.JPG" alt="Lights" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/371f90f3-5efd-45e6-bc0a-1642c619050d.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/27839035-b3bf-4a11-b9bc-75b6ef8550ac.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/c2d55e47-9541-400d-9be1-dcec913ceea1.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/551ef248-7c6e-40c5-b5c0-0b48fb955163.JPG" alt="Nature" style="width:100%">
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
</div>