<div id="thrilling-activities-main" class="container">
  <h1>Thrilling Activities</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/canopy-walk.jpg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Canopy Walk</h5>
        <div class="caption">
          <p>India’s First Canopy walk in the Western Ghats installed at a height of 30feet above the ground near Castle Rock.
            The 240 meter walkway will provide a bird eye view of the Verdant undulating landscape. Tourists can visit by
            paying additional cost set by the forest department.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/doodhsagar-homepage.jpeg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Doodhsagar Waterfalls</h5>
        <div class="caption">
          <p>The world renowned “Doodhsagar waterfall“ is just 5km from Hornbill Homestay. We provide you the opportunity to
            visit the topmost point from where it originates. The point offers an unforgettable view of Sahyadri Mountains
            range, clad in dense green forest.
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/hornbill-gallary.jpg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Wildlife Photography</h5>
        <div class="caption">
          <p>Everyone love photography today but nothing comes close to heart except wildlife photography. Hornbill Homestay
            gives you the opportunity to click the best photos of different birds and wild animals.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/nature-walk.jpg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Nature Walk</h5>
        <div class="caption">
          <p>A walk in nature begins as a serenity by allowing our overstimulated modern minds a chance to rest. It helps us
            to relax, it lowers our stress, depression and anxiety levels. It increases our attention spans and memory and
            it provides a source of gentle exercise.
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/waterfall.jpg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Vajra Falls</h5>
        <div class="caption">
          <p>After construction of Kali project, Vajra falls remain submerged from June to November. After November tourists
            can visit Vajra Falls.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/western-ghat.jpg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Western Ghats</h5>
        <div class="caption">
          <p>Often called the Great Escarpment of India, the Western Ghats are a chain of hills, running parallel to the West
            Indian Coast. One among the eight hottest biodiversity hotspots, the region is recognized as UNESCO World Heritage
            site.
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/trekking.jpeg" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Trekking</h5>
        <div class="caption">
          <p>Surrounded by thick forest and mountains, Hornbill Homestay provides you with the option to trek and explore. The
            topmost part of renowned “Doodhsagar Waterfall” is just 5km from Homestay and the trekking route goes from Hornbill
            Homestay.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <img src="./assets/img/ff46bc98-4481-4415-a546-6566368d993c.JPG" alt="Lights" style="width:100%">
        <p></p>
        <h5 class="card-title">Bonfire</h5>
        <div class="caption">
          <p>Bonfire has its own charm. It just feels so peaceful siting by the fire and sipping your favorite dish.
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
</div>