<div id="launchClimate" data-toggle="modal" data-target="#climateModal">
</div>
<div class="modal fade" id="climateModal" tabindex="-1" role="dialog" aria-labelledby="climateTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="climateLongTitle">Climate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
              <p>Castle-Rock is known for excessive rains and thick forest cover. It provides totally pollution free environment.
                Winter is quite chilly and temperature drops to 6 to 7 degrees.</p>
              <p>It provides ‘true jungle experience’ and there is no electricity supply at the location. Generator power will
                be provided in the night during 7pm to 11pm.</p>
              <p>Subsequently till morning, arrangements in form of Inverter light will be provided in the room. Even in the
                summer the climate at ‘HORNBILL HOME-STAY’ is cool and need for fans is not felt.</p>
            </li>
          </ol>
        </nav>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>