<section aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <h1>How to reach &#39;HORNBILL HOME STAY&#39;...</h1>
      <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
          </li>
        </ol>
      </nav>
      <h2>1. By Road.</h2>
      <p>- It is on Belgaum-Panjim national highway NH 4-A.</p>
      <p>a) From Belgaum:</p>
      <p>- It is 85km from Belgaum. To come to Castle-Rock, you need to take the Belgaum-Panjim NH-4-A Highway and from Ramnagar
        after around 25km (1 KM short of village Anmod), you need to take a semi-graveled road to your left for Castle-Rock.
        After travelling 8km on this semi-graveled road through jungle, you will reach Castle-Rock. “ Whistling Thrust Home
        Stay” is further inside 5KM Diggi road.</p>
      <p>b) From Panjim:</p>
      <p>- It is 85Km from Panjim. Take Belgaum-Panjim NH-4 –A Highway and after climbing the picturesque Anmod ghat (one KM;
        from Anmod village), turn to your right for Castle-Rock.</p>
      <p>c) From Hubli/ Dharwad/ Bangaluru: It is 80km from Dharwad. To come to Catle-Rock, travel on Dharwad-Goa Road via Ramnagar
        to reach Castle-Rock.</p>
      <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
          </li>
        </ol>
      </nav>
      <h2>2. By Air</h2>
      <p>- From Mumbai guests can come by air to Dabolim Airport at Goa or Hubli Airport &amp; then take taxi to Castle-Rock.</p>
      <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
          </li>
        </ol>
      </nav>
      <h2>3. By railway.</h2>
      <p>a) If you are coming from Mumbai by Konkan Railway then one should ideally take ‘Jan-Shatabdi’ up to Madgaon and then
        board ‘Goa Express’ (Vasco-Nizamuddin Express) which leaves Madgaon at 3.30pm &amp; reaches Castkle Rock at 6pm.
        Transport can be arranged for pick-up, if prior intimation is received.
      </p>
      <p>b) If you are coming from Mumbai you can also take Chalukya Express (From Dadar) and reach Londa by 11 am and then
        take a taxi to Castle-Rock.</p>
      <p>c) If you are coming from Pune you can take either Chalukya Express (to reach Londa) or Ekakulam Express (to reach
        Caslte-Rock), Train reaches at 10am.</p>
      <p>d) From Bangalore take Kittur-Chennamma Express to reach Londa.</p>
    </li>
  </ol>
</section>