section {
    margin: 5%;
    text-align: justify;
    color: black;
}

h1 {
    font-weight: bolder;
    color: black;
}

h2 {
    font-weight: bold;
    font-size: 25px;
}

p {
    font-size: 18px;
    color: black;
}
